*.Rproj
.Rproj.user
.RDatatmp
*.RData
*.RDS
.Rhistory
.Ruserdata
*.rsconnect
*.xlsx
*.xls
*.csv
*.rds
*.html
*.zip
*.pptx
*.json
*.txt
*.pdf
*.xlt
._*
.*
log.txt
/library
!.gitignore
!.Rprofile
!.gitattributes
!df_ship_clean.RDS